<h1>Song Form</h1>
<%=form_for @song do |f|%>
<%=f.label 'Song Name:'%><br>
<%=f.text_field :name%><br>
<%=f.label 'Artist ID:'%><br>
<%=f.select :artist_id, @artist_id_options%><br>
<%=f.label 'Genre ID:'%><br>
<%=f.select :genre_id, @genre_id_options%><br>
<%=f.submit "Create Song"%>
<%end%>
