<!DOCTYPE html>
<html>
<head>
  <title>BeatsByRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h1><%=link_to "List all artists", artists_path%></h1>
<h1><%=link_to "List all genres", genres_path%></h1>
<h1><%=link_to "List all songs", songs_path%></h1>

</body>
</html>
